.section1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url(./photos/wingsBackground.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-block-start: 192px;
  padding-block-end: 192px;
  position: relative;

  .inner-section {
    width: 70%;

    .container {
      h2 {
        color: #df204d;
        font-size: 1.2rem;
        font-family: Barlow, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        margin-bottom: 0;
      }
      h3 {
        margin-top: 15px;
        color: white;
        font-size: 5rem;
        font-family: Barlow, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        margin-bottom: 0;
      }
    }

    .some-info {
      border-left: 2px solid gray;
      padding-inline-start: 15px;

      p {
        font-family: Barlow, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        color: white;
        font-size: 1rem;
      }
    }

    .normal-links {
      margin-block-start: 50px;
      display: flex;
      align-items: center;
      justify-content: left;
      .normal-links-a {
        font-family: Barlow, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        padding: 15px;
        border: 1px solid gray;
        border-radius: 10px;
        text-decoration: none;
        font-weight: 600;
        margin-inline-start: 20px;
      }

      #link1 {
        background-color: #df204d;
        color: white;

        &:hover {
          background-color: #ff003c;
        }
      }
      #link2 {
        background-color: white;
        color: #df204d;
        &:hover {
          background-color: #b9b9b9;
        }
      }

      .normal-links-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-inline-end: 15px;
        margin-inline-start: 15px;
        .icon {
          display: inline-block;
          border: 1px solid gray;
          border-radius: 50%;

          width: 40px;
          height: 40px;

          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}

.discord {
  position: absolute;
  right: 0;
  bottom: clamp(20px, 5vw, 60px);
  width: 250px;
  height: 72px;
  background-color: rgb(110, 63, 218);

  &:hover {
    animation: width 0.5s linear forwards;
  }

  .discord-img {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    padding-inline-start: 15px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    .fa-discord {
      color: white;
    }
    p {
      padding-inline-start: 10px;
      font-size: 0.8rem;
      font-weight: 700;
      font-family: Barlow, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      color: white;
    }
  }
}

@keyframes width {
  100% {
    width: 260px;
  }
}

@media screen and(max-width: 1010px) {
  #main-header {
    font-size: 3rem;
  }
  .section1 {
    padding-block-start: 140px;
    padding-block-end: 140px;
  }
}

@media screen and(max-width: 662px) {
  #main-header {
    font-size: 2rem;
  }
  .section1 {
    padding-block-start: 100px;
    padding-block-end: 120px;

    .inner-section {
      width: 85%;
    }
  }
}

@media screen and (max-width: 545px) {
  #main-header {
    font-size: 1.5rem;
  }
  .section1 {
    padding-block-start: 100px;
    padding-block-end: 120px;

    .inner-section {
      width: 85%;
      .container h2 {
        font-size: 1rem;
      }
    }
  }

  .normal-links {
    display: block;

    .normal-links-a {
      display: block;
      text-align: center;
      margin-block-start: 20px;
      width: 100%;
      padding: 15px;
      border: 1px solid gray;
      border-radius: 10px;
      text-decoration: none;
      font-weight: 600;
      margin-inline-start: 20px;
    }
    .normal-links-icon {
      display: block;
      margin-inline-end: 15px;
      margin-inline-start: 15px;
      .icon {
        display: block;
        border: 1px solid gray;
        border-radius: 50%;

        width: 40px;
        height: 40px;

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
